<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Package & Send</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing:border-box;
        }
        .left { float: left; }
        .right { float: right; }
        .clear { clear: both; }
    </style>
    <script type="text/javascript" src="../res/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="../res/js/common.js"></script>
    <script type="text/javascript" src="../res/js/js.cookie.js"></script>
</head>
<body style="width:1000px; margin:100px auto;background-color:#F2EFE6;">

<div style="position:relative;width:100%;height:50px;line-height:50px;border-bottom: 1px solid #FF5300;text-align:center;" >
    <div class="left" onclick="verifiedInvoiceTab(this)" style="position:absolute;width:20%;height:50px;left:20%;border: 1px solid #FF5300;cursor:pointer;">
        <span>VERIFIED INVOICE</span>
    </div>
    <div class="left" onclick="nonVerifiedInvoiceTab(this)" style="position:absolute;width:20%;height:50px;left:40%;border: 1px solid #FF5300;cursor:pointer;">
        <span>NON VERIFIED INVOICE</span>
    </div>
    <div class="left" onclick="historyPackageTab(this)" style="position:absolute;width:20%;height:50px;left:60%;border: 1px solid #FF5300;cursor:pointer;">
        <span>HISTORY PACKAGE</span>
    </div>
</div>
<div class="clear"></div>

<div id="verifiedInvoiceDiv" style="display:none;width:100%;">
    <div style="width:100%;height:350px;padding:10px;">
        <div class="title" style="width:100%;height:20px;background-color:blue;color:white">Verified Invoice List</div>
        <div class="content" style="width:100%;overflow:auto;height:300px;background-color:white;">
            <div id="verifiedInvoiceTitle" style="width:100%;background-color: #f9f9f9;color:black;font-size:12px;border-bottom:2px solid white;">
                <div style="float:left;width:10%;">Code</div>
                <div style="float:left;width:10%;">No.</div>
                <div style="float:left;width:10%;">Date</div>
                <div style="float:left;width:8%;">Amount</div>
                <div style="float:left;width:8%;">Percent</div>
                <div style="float:left;width:27%;">Agency</div>
                <div style="float:left;width:27%;">Agency Code</div>
                <div style="clear:both;"></div>
                <input id="verifiedInvoiceList" type="hidden">
            </div>
            <div id="verifiedInvoiceContent">
            </div>
        </div>
        <div class="right">
            <input id="packageVerifiedInvoiceBtn" type="button" value="Package & Send" style="width:150px;height:40px;border-radius:10px;background-color:#FF5300;color:white;border:1px solid #FF5300;cursor:pointer;" onclick="packageVerifiedInvoice()">
        </div>
    </div>
</div>
<div id="nonVerifiedInvoiceDiv" style="display:none;">
    <div style="width:100%;height:350px;padding:10px;">
        <div class="title" style="width:100%;height:20px;background-color:blue;color:white">Non Verified Invoice List</div>
        <div class="content" style="width:100%;overflow:auto;height:300px;background-color:white;">
            <div id="warnedInvoiceTitle" style="width:100%;background-color: #f9f9f9;color:black;font-size:12px;border-bottom:2px solid white;">
                <div style="float:left;width:10%;">Code</div>
                <div style="float:left;width:10%;">No.</div>
                <div style="float:left;width:10%;">Date</div>
                <div style="float:left;width:8%;">Amount</div>
                <div style="float:left;width:8%;">Percent</div>
                <div style="float:left;width:27%;">Agency</div>
                <div style="float:left;width:27%;">Agency Code</div>
                <div style="clear:both;"></div>
                <input id="nonVerifiedInvoiceList" type="hidden">
            </div>
            <div id="warnedInvoiceContent">
            </div>
        </div>
        <div class="right">
            <input id="nonVerifiedInvoiceEmailBtn" type="button" value="Send Alert Email" style="width:150px;height:40px;border-radius:10px;background-color:#FF5300;color:white;border:1px solid #FF5300;cursor:pointer;" onclick="nonVerifiedInvoiceEmail()">
        </div>
    </div>
</div>
<div id="historyPackageDiv" style="display:none;">
    <div class="left" style="width:30%;" >
        <div style="width:100%;height:350px;padding:10px;">
            <div class="title" style="width:100%;height:20px;background-color:blue;color:white">HISTORY PACKAGE</div>
            <div class="content" style="width:100%;overflow:auto;height:300px;background-color:white;">
                <div style="width:100%;background-color: #f9f9f9;color:black;font-size:12px;border-bottom:2px solid white;">
                    <div style="float:left;width:50%;">PACKAGE NAME</div>
                    <div style="float:left;width:50%;">PACKAGE DATE</div>
                    <div style="clear:both;"></div>
                </div>
                <div id="packageContent">
                </div>
            </div>
        </div>
    </div>
    <div class="left" style="width:70%;">
        <div style="width:100%;height:350px;padding:10px;">
            <div class="title" style="width:100%;height:20px;background-color:blue;color:white">PACKAGE DETAILS</div>
            <div class="content" style="width:100%;overflow:auto;height:300px;background-color:white;">
                <div style="width:100%;background-color: #f9f9f9;color:black;font-size:12px;border-bottom:2px solid white;">
                    <div style="float:left;width:10%;">Code</div>
                    <div style="float:left;width:10%;">No.</div>
                    <div style="float:left;width:10%;">Date</div>
                    <div style="float:left;width:8%;">Amount</div>
                    <div style="float:left;width:8%;">Percent</div>
                    <div style="float:left;width:27%;">Agency</div>
                    <div style="float:left;width:27%;">Agency Code</div>
                    <div style="clear:both;"></div>
                </div>
                <div id="packageDetailContent">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

</body>
</html>