<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Ticket</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing:border-box;
        }
        .left { float: left; }
        .right { float: right; }
        .clear { clear: both; }
    </style>
    <script type="text/javascript" src="../res/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="../res/js/common.js"></script>
    <script type="text/javascript" src="../res/js/js.cookie.js"></script>
    <script type="text/javascript" src="../res/js/jquery-barcode.min.js"></script>
</head>
<body style="width:1000px; margin:100px auto;background-color:#F2EFE6;">
<div>
    <span style="font-size:16px;">Bar Code: </span>
    <input type="text" id="barCodeTxt" style="width:100px;border-radius:5px;margin-left:20px;" oninput="searchPOTicket();">
</div>
<div style="width:100%;height:auto;border-bottom: 2px solid black;margin:10px 0 10px 0;"></div>

<div>
    <span id="reminderSpan" style="font-size:16px;font-weight:bold;color:#1DB0B8;"></span>
</div>

<div id="poTicketProgressDiv" style="display:none;" >
    <div style="width:100%;height:52px;text-align:center;background-color:white;">
        <div class="left" style="width:33.33%;vertical-align:bottom;height:52px;line-height:52px;">
            <span id="submitDate" style="font-size:16px;font-weight:bold;color:#2E68AA;"></span>
            <img src="../res/img/position.png" style="width:48px;height:48px;">
        </div>
        <div class="left" style="width:33.33%;height:52px;line-height:52px;">
            <span id="verifiedDate" style="font-size:16px;font-weight:bold;color:#2E68AA;"></span>
            <img src="../res/img/position.png" style="width:48px;height:48px;">
        </div>
        <div class="left" style="width:33.33%;height:52px;line-height:52px;">
            <span id="completedDate" style="font-size:16px;font-weight:bold;color:#2E68AA;"></span>
            <img src="../res/img/position.png" style="width:48px;height:48px;">
        </div>
    </div>
    <div class="clear"></div>
    <div style="width:100%;height:24px;text-align:center;background-color:white;">

        <div class="left" style="width:33.33%;height:24px;line-height:24px;position:relative;">
            <div style="position:absolute;left:50%;width:50%;background: url(../res/img/split_dot.png) repeat-x 0 11px;height:24px;"></div>
            <img src="../res/img/grey_circle.png" style="width:24px;height:24px;">
        </div>
        <div class="left" style="width:33.33%;height:24px;line-height:24px;background: url(../res/img/split_dot.png) repeat-x 0 11px;height:24px;">
            <img src="../res/img/green_circle.png" style="width:24px;height:24px;">
        </div>
        <div class="left" style="width:33.33%;height:24px;line-height:24px;position:relative;">
            <div style="position:absolute;width:50%;background: url(../res/img/split_dot.png) repeat-x 0 11px;height:24px;"></div>
            <img src="../res/img/grey_circle.png" style="width:24px;height:24px;">
        </div>
    </div>
    <div class="clear"></div>
    <div style="width:100%;height:100px;text-align:center;height:100px;background-color:white;">
        <div class="left" style="width:33.33%;">
            <img src="../res/img/ticket.png" style="width:96px;height:96px;">
        </div>
        <div class="left" style="width:33.33%;">
            <img src="../res/img/ao.png" style="width:96px;height:96px;">
        </div>
        <div class="left" style="width:33.33%;">
            <img src="../res/img/indexor.png" style="width:96px;height:96px;">
        </div>
    </div>
    <div class="clear"></div>
    <div style="width:100%;height:auto;border-bottom: 2px solid black;margin-top:10px;"></div>
</div>

<div id="poTicketDetailDiv"  style="width:100%;height:auto;background-color:white;margin-top:20px;padding:20px;width:1000px;display:none;">
    <img src="../res/img/ticket_title.png" style="max-width:100%">
    <div>
        <div class="left" style="width:50%">
            <span style="font-size:26px;font-weight:bold;">Expense Reimbursement Form-PO</span>
            <input type="text" id="ticketIdTxt" style="display:none;">
        </div>
        <div class="left" style="width:50%">
            <div id="codeBarImg" ></div>
        </div>
    </div>
    <div class="clear"></div>
    <div style="margin-top: 25px;line-height:30px;">
        <div class="left"><span style="font-size:14px;font-weight:bold;">Vendor ID</span></div>
        <div class="left"><input type="text" id="vendorIdTxt" style="width:100px;margin-left:50px;" readonly></div>
        <div class="left"><span style="font-size:14px;font-weight:bold;margin-left:50px;">Claim Currency</span></div>
        <div class="left"><input type="text"id="claimCurrencyTxt" style="width:50px;margin-left:50px;" readonly></div>
        <div class="left"><span style="font-size:14px;font-weight:bold;margin-left:50px;">Claim Amount</span></div>
        <div class="left"><input type="text"id="claimAmountTxt" style="width:100px;margin-left:50px;" readonly></div>
        <div class="left"><span style="font-size:14px;font-weight:bold;margin-left:50px;">BU</span></div>
        <div class="left"><input type="text"id="buTxt" style="width:75px;margin-left:50px;" readonly></div>
    </div>
    <div class="clear"></div>

    <div style="margin-top: 25px;line-height:30px;">
        <div class="left"><span style="font-size:14px;font-weight:bold;">PO Number</span></div>
        <div class="left"><input type="text"id="poNumberTxt" style="width:100px;margin-left:40px;" readonly></div>
        <div class="left"><span style="font-size:14px;font-weight:bold;margin-left:50px;">PO Received Amount</span></div>
        <div class="left"><input type="text"id="poReceivedAmountTxt" style="width:50px;margin-left:20px;" readonly></div>
        <div class="left"><span style="font-size:14px;font-weight:bold;margin-left:50px;">Comments*</span></div>
        <div class="left"><input type="text"id="commentsTxt" style="width:300px;margin-left:65px;" readonly></div>
    </div>
    <div class="clear"></div>
    <div style="margin-top: 25px;line-height:30px;">
        <div class="left" style="width:60%">
            <div><span style="font-size:14px;font-weight:bold;">Contact Information </span></div>
            <div class="left"><span style="font-size:14px;font-weight:bold;">Staff ID</span></div>
            <div class="left"><input type="text" id="staffIdTxt" style="width:100px;margin-left:65px;" readonly></div>
            <div class="left"><span style="font-size:14px;font-weight:bold;margin-left:50px;">Tel Number</span></div>
            <div class="left"><input type="text" id="telNumberTxt" style="width:100px;margin-left:40px;" readonly></div>
        </div>
        <div class="left" style="width:40%;position:relative">
            <p style="font-size:12px;font-weight:bold;">*if PO received amount not match invoice/claim amount, </p>
            <p style="font-size:12px;font-weight:bold;">please clarify which amount should be the payment amount</p>
            <div style="position:absolute;top:0;left:0">
                <img id="draftImg" src="../res/img/draft.png" style="width:300px;height:182px;display:none;">
                <img id="inProgressImg" src="../res/img/inprogress.png" style="width:300px;height:245px;display:none;">
                <img id="completedImg" src="../res/img/completed.png" style="width:300px;height:197px;display:none;">
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div style="margin-top: 15px;line-height:30px;"><span style="font-size:14px;font-weight:bold;">Note:</span></div>
    <div style="width:100%">
        <p style="font-size:14px;">-All Fapiao/invoices should be properly stuck, one by one, on plain A4 paper orderly, with  no overlay, and no enfoldment. Do not exceed the range of the A4 paper as well. The stick on both sides of the A4 paper is not allowed, please stick the Fapiao/invoices on only one side of the paper.  The A4 paper used to stick the Fapiao/invoices should be kept clean without any other information.
            -Since the tax Fapiao/invoices are usually quite thin, you are required to use liquid glue or scotch tape (preferred) to carefully stick the four margins of the Fapiao/invoice on the A4 paper firmly, in case the Fapiao/invoices would be fallen off or be destroyed during the scanning process. Please do not use solid glue, since from experience, Fapiao/invoices could not be stuck firmly and are easily fallen off. Besides, the stapling of the A4 papers with Fapioa/invoices is not allowed; because the damage caused by removed the staple would cause paper jam during the paper scanning process.
            -Please use Paper Clip or Foldback Clip to gather multiple papers of the claim form and Fapiao/invoices, and meanwhile avoiding the rolling edge.
            -Please keep the sequence of the attachments as Fapiao/invoices, then contract or payment note, and then other documents (if any).

            发票必须整齐地一张一张粘贴在A4纸上，多张发票不可以互相重叠，也不可以折叠，且不得超过A4纸的范围；由于正规发票通常纸张较薄，请使用液体胶水或透明胶带将发票四边粘牢在A4纸上，以免其在扫描过程中发票脱落损伤（根据经验，固体胶水粘性不够经常会使发票脱落）；另请勿使用订书机，由于发票需要逐张扫描，起订的痕迹会引起卡纸，从而损伤发票;如您提交的一份申请表的页数超过一页，请用回形针或长尾夹夹住纸张，且纸张不能有卷边或翘起。文件的装订顺序依次是发票, 合同或报价单, 其他文件（如有）。
        </p>
        <p style="font-size:14px;margin-top:10px;">
            By submitting this claim form, I confirm that I identified the invoice via local tax bureau’s  website (the link can be found in page http://www.chinatax.gov.cn/n8136506/index.html), or call local tax bureau hotline (district code+12366) , the invoice I attached is true and proper for claim.
            本人确认该申请单所附发票已经通过当地税务局网站或者热线电话确认为真实有效的可以报销的发票
        </p>
        <p style="font-size:14px;margin-top:10px;">
            Note: You can find the "Q&A for Fapiao Checking notices" on iconnect (China > Other Functions > AP related > Q&A for Fapiao Checking 发票查验小贴士)
            注：你可以在公司内网上找到 发票查验小贴士(China > Other Functions > AP related > Q&A for Fapiao Checking 发票查验小贴士)
        </p>
    </div>
</div>
</body>
</html>